.App {
  text-align: center;
}

.App-logo {
  max-height: 200px;
  max-width: 100%;
}

.App-header {
  background-color: #222;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 250px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
